@import '../../variables';
@import '../../mixins';

.Item-list {
  margin: $default-spacing 0 $default-spacing * 4;
  width: 100%;
  padding: 0 $default-spacing;
  border-radius: $default-radius;
  max-width: 97%;
  background-color: $white;

  li:last-child {
    .Item-card {
      border: none;
    }
  }

  &__container {
    padding: 0 $default-spacing;
  }
}
