@import '../../variables';
@import '../../mixins';

.Breadcrumb {
  ol {
    display: flex;
    margin: $default-spacing 0;
    padding: 0 $default-spacing;

    li {
      &:not(:last-child)::after {
        content: '>';
        padding: $default-spacing / 2;
      }
    }
  }
}
