// Colors
$primary: #FFE600;
$background: #EEEEEE;
$gray: #999999;
$black: #333333;
$white: #FFFFFF;

// Spacing
$default-spacing: 16px;

// Radius
$default-radius: 4px;

// Sizing
$max-width: 1024px;

// Default breakpoints
$device-xs: 480px;
$device-sm: 600px;
$device-md: 768px;
$device-lg: 960px;
$device-xl: 1024px;
$device-xxl: 1920px;